<div class="modal">
  <div id="recipe_new" class="modal-container">
    <header class="modal-header">
      <h2 class="pull-left">New recipe</h2>
      <button id="close_modal_button" class="pull-right" type="button" title="Cancel" (click)="cancel()">×</button>
    </header>

    <form id="new_recipe_form" class="modal-body" #newRecipeForm="ngForm" (ngSubmit)="onSubmit(newRecipeForm)">
      <div>
        <label for="recipe_name">Name:</label>
        <input type="text"
               id="recipe_name"
               name="recipe_name"
               [ngModel]="recipe.getName()"
               (ngModelChange)="recipe.setName($event)"
               minlength="2"
               maxlength="30"
               required>
      </div>

      <div>
        <label for="recipe_estimated_time">Estimated time (minutes):</label>
        <input type="number"
               id="recipe_estimated_time"
               name="recipe_estimated_time"
               [ngModel]="recipe.getEstimatedTime()"
               (ngModelChange)="recipe.setEstimatedTime($event)"
               required>
      </div>

      <div>
        <label>Ingredients:</label>
        <span *ngFor="let ingredient of recipe.getIngredients(); let i = index;">
          <input class="a2"
                 type="text"
                 id="ingredient_name-{{i}}"
                 name="ingredient_name-{{i}}"
                 [ngModel]="ingredient.getName()"
                 (ngModelChange)="ingredient.setName($event)"
                 required>
          <input class="b2"
                 type="number"
                 id="ingredient_quantity-{{i}}"
                 name="ingredient_quantity-{{i}}"
                 [ngModel]="ingredient.getQuantity()"
                 (ngModelChange)="ingredient.setQuantity($event)"
                 min="0"
                 required>
          <button id="remove_ingredient_button-{{i}}"
                  title="Remove ingredient"
                  (click)="deleteIngredient(i)">×</button>
        </span>
        <span>
          <input id="ingredient_name" class="a2" #ingredientName type="text">
          <input id="ingredient_quantity" class="b2" #ingredientQuantity type="number" min="0">
          <button id="add_ingredient_button"
                  type="button"
                  title="Add ingredient"
                  (click)="addIngredient(ingredientName, ingredientQuantity)">+</button>
        </span>
      </div>

      <div>
        <label>Instructions:</label>
        <span *ngFor="let instruction of recipe.getInstructions(); let i = index;">
          <textarea id="instruction-{{i}}"
                    name="instruction-{{i}}"
                    [(ngModel)]="recipe.getInstructions()[i]"
                    required>{{ instruction }}
          </textarea>
          <button id="remove_instruction_button-{{i}}"
                  type="button"
                  title="Remove instruction"
                  (click)="deleteInstruction(i)">×</button>
        </span>
        <span>
          <textarea id="instruction" #instruction></textarea>
          <button id="add_instruction_button" type="button" title="Add step" (click)="addInstruction(instruction)">+</button>
        </span>
      </div>

      <div class="align-right">
        <button type="button"
                (click)="cancel()">Cancel</button>
        <button type="submit"
                [disabled]="!newRecipeForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>
