<div class="modal">
  <div id="recipe_edit-{{index}}" class="modal-container">
    <header class="modal-header">
      <h2 class="pull-left">Edit recipe</h2>
      <button class="pull-right" type="button" title="Cancel" (click)="cancel()">×</button>
    </header>

    <form class="modal-body" #editRecipeForm="ngForm" (ngSubmit)="onSubmit(editRecipeForm)">
      <div>
        <label for="name">Name:</label>
        <input type="text"
               id="name"
               name="name"
               [ngModel]="recipe.getName()"
               (ngModelChange)="recipe.setName($event)"
               minlength="2"
               maxlength="30"
               required>
      </div>

      <div>
        <label for="estimatedTime">Estimated time (minutes):</label>
        <input type="number"
               id="estimatedTime"
               name="estimatedTime"
               [ngModel]="recipe.getEstimatedTime()"
               (ngModelChange)="recipe.setEstimatedTime($event)"
               required>
      </div>

      <div>
        <label>Ingredients:</label>
        <span *ngFor="let ingredient of recipe.getIngredients(); let i = index;">
          <input class="a2"
                 type="text"
                 name="ingredient_{{i}}"
                 [ngModel]="ingredient.getName()"
                 (ngModelChange)="ingredient.setName($event)"
                 required>
          <input class="b2"
                 type="number"
                 name="quantity_{{i}}"
                 [ngModel]="ingredient.getQuantity()"
                 (ngModelChange)="ingredient.setQuantity($event)"
                 min="0"
                 required>
          <button title="Remove ingredient"
                  (click)="deleteIngredient(i)">×</button>
        </span>
        <span>
          <input class="a2" #ingredientName type="text">
          <input class="b2" #ingredientQuantity type="number" min="0">
          <button type="button"
                  title="Add ingredient"
                  (click)="addIngredient(ingredientName, ingredientQuantity)">+</button>
        </span>
      </div>

      <div>
        <label>Instructions:</label>
        <span *ngFor="let instruction of recipe.getInstructions(); let i = index; trackBy: trackRecipe;">
          <textarea name="instruction_{{i}}"
                    [(ngModel)]="recipe.getInstructions()[i]"
                    required>{{ instruction }}
          </textarea>
          <button type="button"
                  title="Remove step"
                  (click)="deleteInstruction(i)">×</button>
        </span>
        <span>
          <textarea #instruction></textarea>
          <button type="button" title="Add step" (click)="addInstruction(instruction)">+</button>
        </span>
      </div>
    </form>
  </div>
</div>
