<article>
  <app-recipe-new *ngIf="showRecipeNewComponent"
                  (closeModal)="showRecipeNewComponent = false"></app-recipe-new>
  <app-recipe-edit *ngIf="showRecipeEditComponent"
                   [index]="index"
                   (closeModal)="showRecipeEditComponent = false"></app-recipe-edit>

  <div class="article-main">
    <table>

      <thead>
        <tr>
          <th class="fit">
            <button id="recipe_content_button" type="button" (click)="showContent()">
              <span *ngIf="!_showContent">></span>
              <span *ngIf="_showContent">v</span>
            </button>
          </th>
          <th>
            <h2>My recipes ({{ recipes.length }})</h2>
            <button class="pull-right" id="recipe_new_button" title="New recipe" (click)="newRecipe()">+</button>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="_showContent">
        <tr id="recipe-{{i}}" *ngFor="let recipe of recipes; let i = index;">
          <td>
            <button id="recipe_details_button-{{i}}" type="button" (click)="showDetails(i)">
              <span *ngIf="selected != i">></span>
              <span *ngIf="selected == i">v</span>
            </button>
          </td>
          <td>

            <h3>{{ recipe.getName() }}</h3>

            <div class="pull-right">
              <button id="recipe_prepare_button-{{i}}" type="button" (click)="prepareRecipe(i)" >Prepare <span *ngIf="_prepareRecipe[i]">×{{ _prepareRecipe[i] }}</span></button>
              <button id="recipe_edit_button-{{i}}" type="button" (click)="editRecipe(i)">Edit</button>
              <button id="recipe_delete_button-{{i}}" type="button" (click)="deleteRecipe(i)">Delete</button>
            </div>

            <div id="recipe_details-{{i}}" *ngIf="selected == i">
              <p>Ingredients:</p>
              <ul>
                <li *ngFor="let ingredient of recipe.getIngredients()">{{ ingredient.getName() }} ×{{ ingredient.getQuantity() }}</li>
              </ul>
              <p>Instructions:</p>
              <ul>
                <li *ngFor="let instruction of recipe.getInstructions()">{{ instruction }}</li>
              </ul>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>

