<article>

  <app-fridge-add *ngIf="_showFridgeAddComponent" (closeModal)="_showFridgeAddComponent = false"></app-fridge-add>

  <div class="article-main">
    <table>
      <thead>
        <tr>
          <th class="fit">
            <button type="button" (click)="showContent()">
              <span *ngIf="!_showContent">></span>
              <span *ngIf="_showContent">v</span>
            </button>
          </th>
          <th colspan="3">
            <h2>My fridge ({{ _fridge.getItems().length }})</h2>
            <button class="pull-right" id="add_item_button" title="Add item" (click)="addItem()">+</button>
          </th>
        </tr>
      </thead>
      <tbody *ngIf="_showContent">
        <tr>
          <th></th>
          <th>Ingredients</th>
          <th>Quantity</th>
        </tr>
        <tr *ngFor="let content of _fridge.getItems(); let i = index">
          <td></td>
          <td><h3>{{ content.getName() }}</h3></td>
          <td>
            {{ content.getQuantity() }}
            <button class="pull-right" id="remove_item_button-{{i}}" title="Remove item" (click)="removeItem(i)">-</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</article>

