body {
  margin: 0;
  padding-top: 50px;
  background-color: #2c303b;
}

body, input, select, option, button, textarea {
  font-family: sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

hr {
  display: none;
}

a {
  color: #35d4c7;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 1em;
}

button, input, select, textarea {
  margin: 0;
  padding: 8px 10px;
  border-radius: 4px;
}

button {
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

button[disabled] {
  background-color: #565962;
}

button[type=submit] {
  background: #00aa06;
}

button[type=submit][disabled] {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.1);
}

input, select, textarea {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

option {
  background-color: #242424;
}







form {}

form div {
  margin: 10px 0;
}

form label {
  display: block;
  font-weight: bold;
}





/*
 * TABLE
 */
table {
  width: 100%;
}

table tr {
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.1);
  vertical-align: text-top;
}

table th {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

table td {
  padding: 10px;
}

table th.fit,
table td.fit{
  width: 1%;
  white-space: nowrap;
}

table th.fixed300,
table td.fixed300{
  width: 200px;
}


/*
 * BODY
 */
#body-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #20222a;
  font-size: 14px;
  z-index: 10;
}

#body-header nav {
  padding: 20px;
}

#body-header h1, #body-header p {
  margin: 0;
  display: inline-block;
}

#body-nav {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 160px;
  padding: 20px;
  background-color: #2c303b;
}






.pull-right {
  float: right;
}

.pull-left {
  display: inline-block;
}

.pull-right button,
.pull-right button,
button.pull-right,
button.pull-left {
  margin: -5px 0;
}

.align-right {
  text-align: right;
}







.main-header {
  padding: 20px;
  border-bottom: 1px solid #3a3a3a;
}

.article {}

.article-header {
  padding: 20px;
  font-size: 14px;
}

.article-main {
  padding: 20px;
}

.error {
  padding: 10px;
  color: #ff7f7f;
  background-color: #280000;
}






/*
 * MODAL
 * structure
 * forms
 */
.modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.modal-container {
  width: 400px;
  margin: 0 auto;
  background-color: #2c303b;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 20px;
  font-size: 14px;
}

.modal-body {
  padding: 20px;
}

.modal form input,
.modal form select,
.modal form textarea,
.modal form button {
  box-sizing: border-box;
  margin: 1px 0;
  width: 100%;
}

.modal form span {
  position: relative;
  display: block;
}

.modal form span button {
  position: absolute;
  top: 1px;
  right: 1px;
  width: auto;
  visibility: hidden;
}

.modal form span:hover button {
  visibility: visible;
}

.modal form .a2 {
  width: 80%;
}

.modal form .b2 {
  width: 20%;
}
